In [6]:
import pandas as pd

In [6]:
fruits = pd.DataFrame(columns=["Apples", "Bananas"])
fruits

Empty DataFrame
Columns: [Apples, Bananas]
Index: []

In [9]:
fruit_data = {
    "Apples":[30],
    "Bananas":[21]
}

pd.DataFrame(fruit_data)

   Apples  Bananas
0      30       21

In [23]:
fruit_sales = pd.DataFrame({
    "Apples" : [35, 41],
    "Bananas" : [21, 34]},
    index= ["2017 Sales", "2018 Sales"])

fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [25]:
ingredients = pd.Series(["4 cups", "1 cup", "2 large", "1 can"], index=['Flour', 'Milk', 'Eggs', "Spam"], name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [7]:
import pandas as pd

animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [8]:
from pathlib import Path 

filepath = Path('assest/cows_and_goats.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
animals.to_csv(filepath)